<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <script>

        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>


{% block body %}

 {% if request.session.user %}
<body class="bg-gray-50 dark:bg-gray-800">

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block main %}
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}

    <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">

        {% block main_content %}
        {% endblock %}
        {% include 'footer.html' %}

    </div>
</div>

{% endblock %}


<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/static/js/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>

{% else %}

 {% with message="You need to login first" %}
        {% include 'login.html' %}
    {% endwith %}

                        {% endif %}

{% endblock %}




</html>
